.record-container{
  width: 80%;
  max-width: 100%;
}

.cell {
  width:5%;
}

th, td {
  text-align: center !important;
  vertical-align: middle !important;
  white-space: nowrap;
}

th{
  min-width: 120px;
}